@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'siyuan';
  src: url('../public/fonts/siyuan.woff2')format('woff2'),
       url('../public/fonts/siyuan.woff')format('woff');
}

/* @font-face {
  font-family: roboto;
  src: url('../public/fonts/Roboto-Regular.ttf')
} */

body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'siyuan' !important; */
}

span,
a,
i,
label {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

.view-btn-wrap {
  right: 20px !important;
  bottom: 40px !important;
}

.view-btn-wrap .view-btn {
  background-color: #1677ff !important;
}


