@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: roboto;
  src: url('../public/fonts/Roboto-Regular.ttf')
} */

body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
ul,
li,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

span,
a,
i,
label {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}



